body {
	background-color: #f9f9f9;
	margin: 0;
	padding-bottom: 8%;
}

div.nav {
	position: sticky;
	background-color: #3495eb;
	width: 120%;
	vertical-align: top;
	margin: 0px;
	top: 0;
	overflow: hidden;
	height: 8%;

}

ul.nav {
	list-style-type: none;
	padding-right: 17%;
	display: flex;
	justify-content: flex-end;
}

li.nav {
	flex-flow: row;

}


li.nav a {
	font-family: "Montserrat", sans-serif;
	font-size: 1.5em;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li.nav a:hover {
	background-color: #1f6099;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}

h1 {
	text-align:center;
	font-family: "Montserrat", sans-serif;
	font-size: 2.5em;
}

h2 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Montserrat", sans-serif;
	font-size: 2.2em;
}

h2.centered {
	margin: auto;
	text-align:center;
	font-family: "Montserrat", sans-serif;
	font-size: 2.2em;
}

h3 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	color: #271033;
}

h4 {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Montserrat", sans-serif;
	font-size: 1.7em;
	color: #931F1D;
}

h5 {
	margin-left: 10%;
	margin-right: 12%
	font-family: "Montserrat", sans-serif;
	font-size: 1.7em;
	color: #271033;
}

p {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3em;
}

hr.inner_border {
    width:75%;
    margin:0 auto;
    border: 2px solid #3495eb;
}

div.toc {
	display: flex;
	flex-flow: row;
	margin-left: 1%;
}

seg.toc {
	background-color: #3495eb;
	color: white;
	border: 2px solid black;
	border-radius: 30px;
	height: 30%;
	width: 30%
}

ul.toc {
	list-style-type: none;
}

li.toc {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

a.toc {
	color: white;
	text-decoration: none;
}

a.toc:visited {
	color: white;
}

a.toc:hover {
	text-decoration: underline;
}

ol.instructions {
	margin-left: 10%;
	margin-right: 15%;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;

}

th {
	font-size: 1.4em;
}

table {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid;
}

tr.tableBottom {
	border-bottom: 0px;
}

td:first-child {
	width: 25%
}

td:last-child {
	width: 20%
}

h2.pedagogyH2 {
	flex-basis: 100%;
	text-align: center;
}

h3.subhead {
	text-align: left;
}

h3.courseTitle {
	font-size: 1.4em;
}

kbd {
    background-color: #BFC9ED;
}

li {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2em;
}

img.engine {
	object-fit: contain;
	width: 400px;
}

seg.engine > h3 {
	text-align: center;
}

seg.engine_desc {
	display: flex;
	flex-flow: row;
	padding-left: 5%;
	align-content: space-evenly;
}

em.bold {
	font-style: normal;
	font-weight: bold;
}

p.small {
	font-size: 1em;
}

p.center {
	text-align: center;
	padding-left: 15em;
	padding-right: 15em;
}

/* College for Kids styling starts here */

h1.c4k {
	text-align: center;
	padding-top: 3%;
}

table.c4k {
	font-size: 1.4em;
	width: 55%;
}

td.c4kleft {
	padding-bottom: 2%;
	padding-top: 2%;
	width: 20%;
}

td.c4kright {
	padding-bottom: 2%;
	padding-top: 2%;
	width: 80%;
}

td.c4kdesc {
	padding-bottom: 2%;
	padding-top: 2%;
	width: 55%;
}

img.c4kimg {
	width: 250px;
}

footer {
	background-color: #3495eb;
	color: #ffffff;
	text-align: center;
	font-size: 1.6em;
	position: fixed;
	height: 8%;
	left: 0;
  bottom: 0;
  width: 100%;
}
