body {
	background-color: #f9f9f9;
}
ul.nav {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color: #3495eb;
}

li.nav {
	float: right;
}

li.nav a {
	font-family: "Garamond", serif;
	font-size: 1.5em;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li.nav a:hover {
	background-color: #1f6099;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}

h1 {
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 2em;
}

h2 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}

h2.centered {
	margin: auto;
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}

h3 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.5em;
	color: #271033;
}

h4 {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.3em;
	color: #931F1D;
}

h5 {
	margin-left: 10%;
	margin-right: 12%
	font-family: "Garamond", serif;
	font-size: 1.2em;
	color: #271033;
}

p {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1em;
}

hr.inner_border {
    width:75%;
    margin:0 auto;
    border: 2px solid #3495eb;
}


ol.instructions {
	margin-left: 10%;
	margin-right: 15%;
	font-family: "Garamond", serif;
	font-size: 1em;

}

th {
	font-size: 1.4em;
}

table {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid;
}

tr.tableBottom {
	border-bottom: 0px;
}

td:first-child {
	width: 20%
}

td:last-child {
	width: 20%
}

h2.pedagogyH2 {
	flex-basis: 100%;
	text-align: center;
}

h3.subhead {
	text-align: left;
}

kbd {
    background-color: #BFC9ED;
}
