body {
	background-color: #E8E5DA;
}
ul.nav {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	background-color: #3495eb;
}

li.nav {
	float: right;
}

li.nav a {
	font-family: "Garamond", serif;
	font-size: 1.5em;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li.nav a:hover {
	background-color: #1f6099;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}

h1 {
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 2em;
}

h2 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}

h2.centered {
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}

h3 {
	margin-left: 5%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.5em;
	color: #271033;
}

h4 {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1.3em;
	color: #931F1D;
}

p {
	margin-left: 7%;
	margin-right: 10%;
	font-family: "Garamond", serif;
	font-size: 1em;
}
